extends ../ui_layout
 
block content
  .sixteen.wide.column
    h2(style="text-align: center;") MetaGPT System results
    h3 Prompt: 
    p !{prompt}
    if result.length != 0
      h3 Identified Relevant Files: 
      each file in result[0]["Relevant Files"]
        p#files !{file}
      h3 Recommended Implementation Plan:
      ol
        each step in result[0]["Implementation Plan"]
          li !{step[1]}
      - for (var i = 1; i < result.length; i++){
        h3 Implementing !{i}.
        each implementation, key in result[i]
          h4 !{key}:
          if implementation.constructor === Array
            each implementation_2, key_2 in implementation
              h4 !{key_2}: 
              h4 !{implementation_2}
          else 
            p !{implementation.replace(/\n/g, "<br/>")}
      - }
    else
      h3 No Output